[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

#login-logo{
    padding-left: 5%;    
}

#signupBtn{
  margin-top: 3%;
}

#toDoList{
  list-style-type: none;
}
#xicon{
  width: 25px;
  height: 25px;
}
#downicon{
  width: 25px;
  height: 25px;
}

.form-error{
  text-align: center;
  padding:0px;
}
.todoCheckbox{
  display: inline;
}

.todoItem{
  display: inline;
}

.todoDesc{
  margin-left: 5%;
}